body {
    text-align: center;
    background: linear-gradient(#1ee8ea 10%, #a522e1 100%);
    background-repeat: no-repeat;
}

h1 {
    text-shadow: 2px 2px DarkViolet;
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 190px;
}

p {
    font-size: 20px;
}


.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}


.links {
    float: left;
    color: #FFF;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: 'Lobster', cursive;
    font-size: 17px;
}


.links:hover {
    background-color: Turquoise;
}
